@font-face{
    font-family:'Segoe Script';
    src:url("/assets/segoesc.ttf");
    font-weight:normal;
    font-style:normal;
}

#cabinwall {
    background-image: url("/assets/wood_planks_new_0001_02_preview.jpg");
    background-repeat: repeat;
}
#corkboard {
    background-image: url("/assets/cork.png");
    background-repeat: repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 40px 10px 30px 40px;
    border: 10px,rgba(255, 255, 255, 0.00),solid;
    border-image: url(/assets/503789872.jpg);
    position: relative;
    margin: auto;
    width:100%;
    height:80%;
    min-height: 100px;
}

#footer {
    background-image: url("/assets/Seamless_Old_Brown_Leather_Texture_2_DIFFUSE.jpg");
    background-repeat: repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family:'Segoe Script';
    font-size:40px;
    padding: 40px 10px 30px 40px;
    border: 10px,rgba(255, 255, 255, 0.00),solid;
    border-image: url(/assets/503789872.jpg);
    position: relative;
    margin: auto;
    width:100%;
    height:80%;
    min-height: 100px;
}
#postit
{
    min-width:300px;
    background-image:url("/assets/Post-It-Note-with-Push-Pin-314x334.png");
    padding:80px 50px 50px 50px;
    font-family:'Segoe Script';
    font-size:45px;
    background-repeat:no-repeat;
}

#resume
{
    min-width:210px;
    background-image:url("/assets/dc8deozce.png");
    padding:50px 40px 50px 40px;
    font-family:'Segoe Script';
    font-size:30px;
    background-repeat:no-repeat;
}
#interest
{
    min-width:200px;
    background-image:url("/assets/184131428.png");
    padding:40px 40px 40px 30px;
    font-family:'Segoe Script';
    font-size:30px;
    background-repeat:no-repeat;
}
#contact
{
    min-width:250px;
    background-image:url("/assets/Sticky-Note.png");
    padding:90px 60px 50px 40px;
    font-family:'Segoe Script';
    font-size:30px;
    background-repeat:no-repeat;
}

#textrotate{
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}
#textrotate_right{
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.paperpanel{
    background-image:url("/assets/papertemplate.jpg");
    background-repeat:no-repeat;
    background-origin:border-box;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family:'Courier New';
    font-size:18px;
    padding:100px 50px 50px 190px;
}
.footerlink{
    font-family:'Segoe UI'; 
    font-size:20px;

}
.footercolor{
    color:crimson;
}


* {
    box-sizing: border-box;
}

.slider {
       
        width: auto;
        margin: 30px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      max-height:300px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }